/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins';
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 2rem;
}

/* NAVBAR */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12%;
    z-index: 999;
}
.logo {
    width: 150px;
    height: 50px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.bars i {
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
}
.sticky{
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0.2px solid var(--color-blanco);
}

/* PANEL */
.panel {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 1rem;
    width: 500px; /* Ajusta el ancho aquí */
    max-width: 110%; /* Asegura que sea responsivo */
}

.panel h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.panel label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.panel input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: column; /* Botones en columna */
    align-items: center;    /* Centra los botones horizontalmente */
    gap: 0.5rem;            /* Espaciado entre botones */
    margin-top: 1rem;       /* Espaciado superior */
}

.blue-button {
    background-color: #3d5af1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    font-weight: bold;
    width: 100%; /* Botón más ancho */
    text-align: center; /* Centrar texto */
    transition: .6s;
}

.blue-button:hover {
    background-color: #2a43b5;
}

.gray-button {
    background-color: #e0e0e0;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: .6s;
}

.gray-button:hover {
    background-color: #bdbdbd;
}

.red-button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: .6s;
}

.red-button:hover {
    background-color: #d03535;
}


/* RESULTS */
.results {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
}

.results p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* MENU */
.full_menu{
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 999;
background-color: #004aad;
display: none;
}
.head_menu{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2% 12%;
border-bottom: 1px solid rgba(255,255,255,0.5);
}
.main_menu{
display: flex;
justify-content: space-between;
align-items: center;
height: 50vh;
padding: 0 25%;
}
.menu{
width: 50%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
position: relative;
}
.menu:after{
content: '';
position: absolute;
top: 0;
left: -10%;
width: 2px;
height: 650px;
background-color: #ffffff4f;
}
.menu:before{
content: '';
position: absolute;
top: 0;
right: -10%;
width: 2px;
height: 650px;
background-color: #ffffff4f;
}
.menu li{
display: flex;
justify-content: space-between;
width: 100%;
cursor: pointer;
}
.menu li i{
color: #999;
font-size: 2rem;
width: 50px;
height: 50px;
border: 1px solid #ffffff4f;
display: flex;
justify-content: center;
align-items: center;
}
.menu li a{
color: #999;
font-size: 2rem;
}
.menu li:hover i{
color: #fff;
}
.menu li:hover a{
color: #fff;
}
.contact{
width: 40%;
color: #fff;
}
.contact h2{
font-weight: 500;
}
.social {
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-top: 30px;
gap: 20px;
}
.social i{
font-size: 1.2rem;
width: 50px;
height: 50px;
border-radius: 100%;
border: 1px solid rgba(255,255,255,0.5);
display: flex;
justify-content: center;
align-items: center;
transition: .3s;
}
.social i:hover{
color: #1f386c;
background-color: #fff;
cursor: pointer;
border: 1px solid #fff;
}
.show_menu{
display: block;
animation: show 0.6s forwards linear;
}

/* RESPONSIVE */
@keyframes show {
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}