/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* VARIABLES GLOBALES */
:root{
    --color-negro: #000;
    --color-blanco: #fff;
    --color-cuerpo: #1a1924;
    --color-principal: #424fbf;
    --

}
